.table{
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    width: 90%;
}
.buttonSave{
    float:right;
    margin-right: 5%;
    
}
body{
    background-image: url("../image/jess-bailey-Bg14l3hSAsA-unsplash-1320x990.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.class{
    justify-content: center;
    text-align: center;
    margin-left: 1%;
    font-weight: bold;
    font-size: 18px;
}
img{
    width:100px;
    height:100px;
}
.button{  
    border-radius: 35px;
    padding: 8px 16px;
    margin: 2px;
    font-size: 16px;
    background-color: pink;
    text-decoration: none;
    color: black;
}
.button:hover{
    background-color: coral;
    color: black;
}